p ,a{ 
  margin: 0px; 
  color :#1C3FB5;
  font-size: 16px;
  text-align: center; 
}
a{
  text-decoration: none;
  font-size: 22px;
}
.navBar{
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navBar div:last-child {
  margin-left: auto;
}
.dropdown-toggle::after {
  display: none;
}
.formAlign{
  padding-left: 12rem;
  padding-right: 12rem;
  justify-content: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chat-list{
  height: 93vh;
  overflow-y: scroll !important;
}
.message-list{
  overflow-y: overlay !important;
  background-color: beige;
  /* background-image: url(../images/chat_bg.jpg);
  background-size: cover;
  background-position: top; */
  /* padding: 1rem; */
}
.input{
  margin-top: 2rem;
  height: 5vh !important;
  overflow-y: overlay !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
